@font-face {
    font-family: 'Firs Neue Medium';
    src: url('../../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.eot') format('eot'),
      url('../../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.woff') format('woff'),
      url('../../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.ttf') format('truetype'),
      url('../../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.svg') format('svg');
    font-weight: medium;
    font-style: normal;
  }