@font-face {
  font-family: 'Firs Neue Medium';
  src: url('../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.eot')
      format('eot'),
    url('../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.woff')
      format('woff'),
    url('../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.ttf')
      format('truetype'),
    url('../fonts/Firs_Neue_Medium/TT_Firs_Neue_Trial_Medium.svg') format('svg');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Tactic Sans';
  src: local('Tactic Sans Extended Bold'), local('Tactic-Sans-Extended-Bold'),
    url('../fonts/Tactic_Sans/TacticSansExd-Bld.woff2') format('woff2'),
    url('../fonts/Tactic_Sans/TacticSansExd-Bld.woff') format('woff'),
    url('../fonts/Tactic_Sans/TacticSansExd-Bld.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
