<header>
  <div class="container">
    <div class="header__box">
      <img
        class="header__icon--location"
        src="./images/header/location_icon.png"
        alt="location_icon"
        width="15"
        height="15"
      />
      <p class="header__text">open beta testing phase</p>
    </div>
    <div class="header__wrapper">
      <a class="header__link" href="./index.html"
        ><img
          srcset="
            ./images/header/logo._sm.png 29w,
            ./images/header/logo_md.png  42w
          "
          src="./images/header/logo._sm.png"
          alt="header__link"
          sizes="(min-width: 768px) 42px, (max-width: 767px) 29px, 100vh"
        />
      </a>
      <h2 class="header__title">X-WAR</h2>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="" class="menu__link">game info</a>
            <img
              class="menu__icon"
              src="./images/header/menu_icon.png"
              alt="menu-icon"
              width="9"
            />
          </li>
          <ul class="sub-menu__list">
            <li><a href="" class="sub-menu__link">about game</a></li>
            <li><a href="" class="sub-menu__link">wite paper</a></li>
            <li><a href="" class="sub-menu__link">roadmap</a></li>
            <li><a href="" class="sub-menu__link">play to earn</a></li>
            <li><a href="" class="sub-menu__link">team</a></li>
          </ul>
        </ul>
      </nav>
      <button class="header__btn">
        <img
          class="header__icon"
          src="./images/header/btn_icon.png"
          alt="bottom icon"
          width="18"
          height="18"
        />
      </button>
    </div>
  </div>
</header>
