<header>
  <div class="container">
    <div class="header__wrapper">
      <a class="header__link" href="./index.html"
        ><img
          srcset="
            ./images/header/logo._sm.png 29w,
            ./images/header/logo_md.png  42w
          "
          src="./images/header/logo._sm.png"
          alt="header__link"
          sizes="(min-width: 768px) 42px, (max-width: 767px) 29px, 100vh"
        />
      </a>
      <h2>X-WAR</h2>
      <button>
        <img
          class="header__icon"
          src="./images/header/btn_icon.png"
          alt="bottom icon"
          width="18"
          height="18"
        />
      </button>
    </div>
  </div>
</header>
