<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">WELCOME TO A NEW EARN OF PLAY TO EARN</h1>
      <button class="btn__brown">
        <img
          src="./images/buttons_icon/download_icon.png"
          alt="download_icon"
          width="15"
        />DOWNLOAD GAME
      </button>
      <button class="btn__transparent">
        <img
          src="./images/buttons_icon/btn_icon_buy.png"
          alt="btn_icon_buy"
          width="15"
        />
        BUY $XWAR TOKEN
      </button>
      <ul class="hero__list">
        <li><img src="./images/hero/hero_icons/nft.png" alt="nft"></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
      </ul>
    </div>
  </div>
</section>
