<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">WELCOME TO A NEW EARN OF PLAY TO EARN</h1>
      <button class="btn__brown">
        <img
          src="./images/buttons_icon/download_icon.png"
          alt="download_icon"
          width="15"
        />DOWNLOAD GAME
      </button>
      <button class="btn__transparent">
        <img
          src="./images/buttons_icon/btn_icon_buy.png"
          alt="btn_icon_buy"
          width="15"
        />
        BUY $XWAR TOKEN
      </button>
      <ul class="hero__list">
        <li>
          <img src="./images/hero/hero_icons/nft.png" alt="nft" width="30" />
        </li>
        <li>
          <img
            src="./images/hero/hero_icons/circle.png"
            alt="circle"
            width="30"
          />
        </li>
        <li>
          <img
            src="./images/hero/hero_icons/unreal.png"
            alt="unreal"
            width="30"
          />
        </li>
        <li><img src="./images/hero/hero_icons/p.png" alt="p" width="30" /></li>
        <li>
          <img
            src="./images/hero/hero_icons/nvidia.png"
            alt="nvidia"
            width="30"
          />
        </li>
      </ul>
      <img class="move_bottom"
      src="./images/hero/hero_icons/move_bottom.png"
      alt="move_bottom"
      width="46"
    />
    </div>
  </div>
</section>
