.btn__brown {
    @include btn_long();
    border: none;
    background-color: var(--btn_brown-bcg-color);
    color: var(--btn_brown-text-color);
}

.btn__transparent {
    @include btn_long();
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: var(--wite-btn-text-color);
}

