.btn__transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 11px 15px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    color: var(--wite-btn-text-color);
    font-family: var(--secondary-font);
    font-size: 10px;
    text-transform: uppercase;
}