.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  @include mq(tab) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include mq(desk) {
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__link {
  display: block;
}
.header__icon {
  @include mq(tab) {
    width: 31px;
    height: 31px;
  }
}
.header__btn {
  @include mq(desk) {
    display: none;
  }
}

.header__box {
  display: none;
  @include mq(desk) {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  }
}

.header__icon--location {
  margin-left: 29px;
}

.header__text {
  font-family: var(--secondary-font);
  font-size: 7px;
  font-weight: bold;
  color: #e0af7f;
}

.sub-menu__list {
  border: 1px solid rgb(255, 255, 255, 0.2);
}

.menu a {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 12px;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 113px;
  height: 21px;
  cursor: pointer;
  position: relative;
  &:hover {
    .menu__icon {
      rotate: 180deg;
    }
  }
}

.sub-menu__list {
  position: absolute;
  top: 21px;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-top: 2px solid #E0AF7F;
}

.menu__list>li:hover .sub-menu__list {
  display: block;
  opacity: 1;
}

.sub-menu__list > li:hover {
  background-color: #D7D7D7;
}

.menu__icon {
  width: 9px;
  height: 5px;
  transition-property: rotate;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
