.hero {
  margin-left: auto;
  margin-right: auto;
  margin-top: -59px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
//   height: 568px;
  background-image: url(../images/hero/hero_img_mob.webp);

  @include mq(tab){
    max-width: 768px;
    background-image: url(../images/hero/hero_img_tab.webp);
  }

  @include mq(desk){
    max-width: 1200px;
    background-image: url(../images/hero/hero_img_desk.webp);
  }
}

.hero__container {
    margin-left: auto;
    margin-right: auto;
    width: 279px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.hero__title {
    padding-top: 286px;
    font-family: var(--secondary-font);
    font-size: 14px;
    color: var(--wite-text-color);
    text-align: center;
    margin-bottom: 30px;
}

.hero .btn__brown {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 15px;
}

.hero .btn__transparent {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 15px;
}

.hero__list {
    display: flex;
    justify-content: space-between;
    width: 195px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.move_bottom {
    display: none;
    margin-left: auto;
    margin-right: auto;  
}